@import "../app/App.scss";

.taskBar {
  display: flex;
  height: 70px;
  background: $taskbar;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo {
  display: flex;
}

.blackDiceLogo {
  position: fixed;
  top: 8px;
  left: 40px;
}

#blackDiceText {
  margin-left: 50px;
  margin-top: 10px;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  transition: transform 0.3s ease;
}

#blackDiceText:hover, #blackDiceCube:hover {
  transform: scale(1.1);
}

#blackDiceCube {
  margin-top: 5px;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  transition: transform 0.3s ease;
}

.links {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;

  & a,
  #sales-tab {
    color: $pale-grey;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
    transition: transform 0.3s ease;
  }

  & a:hover,
  #sales-tab:hover {
    color: $pale-green;
    transform: scale(1.1);

  }

  & a:active,
  #sales-tab:active {
    color: $green;
  }
}
