@import "../app/App.scss";

.taskBar {
  display: flex;
  height: 70px;
  background: $taskbar;
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo {
  display: flex;
  
}

.blackDiceLogo {
  position: fixed;
  top: 8px;
  left: 40px;
}

#blackDiceText {
  margin-left: 50px;
  margin-top: 10px;
  width: 160px;
}

#blackDiceCube {
  width: 35px;
  margin-top: 5px;
}

.links {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;

  & a, #sales-tab {
    color: $pale-grey;
    cursor: pointer;
  }

  & a:hover, #sales-tab:hover {
    color: $pale-green;
  }

  & a:active, #sales-tab:active {
    color: $green;
  }


  }
  

