@import "../app/App.scss";

.welcome-page {
  animation: fadeIn 4s ease-in forwards;


}

.welcome {
  font-size: 50px;
  margin: 0;
}

.welcomeBio {
  margin: 0;
}

.Bio {
  padding: 20px 250px;
}

.demo-section {
  display: flex;
  justify-content: center;
}

.welcome-section {
  display: flex;
  justify-content: center;
}

#door, #lightning {
  margin: 20px;
}

#pen {
  margin: 0 20px;
}
#beginBtn {
  padding: 10px 100px;
  border-radius: 80px;
  background: $button-gradient;
}

#beginBtn:hover {
  border-color: $pale-green;
  background: $button-gradient-hover;
  color: $pale-green;
  transform: scale(1.1);
}

#beginBtn:active {
  border-color: $green;
  background: $button-gradient-active;
  color: $green;
}


i {
  padding: 10px 30px 0 30px;
  color: $medium-grey;
}

#description {
  font-weight: 300;
  font-size: 20px;
  animation: fadeInText 10s linear forwards;
  color: $medium-grey;
}

#to-the {
  font-size: 25px;
}

.b-d-cube {
  animation: pulse 2s infinite;
  margin-top: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

